<a href="https://colab.research.google.com/github/isalittlelamb/Exercise-SQL/blob/main/AtvIntrod_Prog_Bancodedados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Ler arquivo CSV
df = pd.read_csv('/arquivoCVSparatrabalho.csv')

# Exibir os dados
print(df.head())

   Questao 1  Questao 2  Questao 3  Questao 4  Questao 5  Questao 6  \
0       0.50       0.75       0.55       0.75       0.50       0.50
1       0.40       0.70       0.70       1.00       0.45       0.45
2       0.30       0.65       0.75       0.80       0.40       0.40
3       0.20       0.60       0.70       0.90       0.45       0.40
4       0.45       0.45       0.75       0.85       0.50       0.50

   Questao 7  Questao 8  Questao 9  Questao 10  Questao 11  Questao 12  \
0        1.0       0.50       0.50        0.50        0.25        0.15
1        1.0       0.45       0.45        0.45        0.46        0.50
2        0.9       0.40       0.40        0.40        0.44        0.40
3        0.8       0.50       0.45        0.50        0.45        0.45
4        0.7       0.45       0.50        0.45        0.50        0.40

   Questao 13  Questao 14  Questao 15  Questao 16  Questao 17
0        0.40        0.30         0.1        0.00        0.40
1        0.30        0.50         0.5        0.50        0.50
2        0.40        0.45         0.4        0.45        0.40
3        0.45        0.50         0.3        0.40        0.45
4        0.50        0.50         0.2        0.30        0.50

In [3]:
import pandas as pd

# Ler arquivo CSV
df = pd.read_csv('/arquivoCVSparatrabalho.csv')

# Calcular a nota total de cada aluno e adicionar uma nova coluna ao DataFrame
df['Nota Total'] = df.iloc[:, 1:].sum(axis=1)

# Exibir os dados
print(df.head())

   Questao 1  Questao 2  Questao 3  Questao 4  Questao 5  Questao 6  \
0       0.50       0.75       0.55       0.75       0.50       0.50
1       0.40       0.70       0.70       1.00       0.45       0.45
2       0.30       0.65       0.75       0.80       0.40       0.40
3       0.20       0.60       0.70       0.90       0.45       0.40
4       0.45       0.45       0.75       0.85       0.50       0.50

   Questao 7  Questao 8  Questao 9  Questao 10  Questao 11  Questao 12  \
0        1.0       0.50       0.50        0.50        0.25        0.15
1        1.0       0.45       0.45        0.45        0.46        0.50
2        0.9       0.40       0.40        0.40        0.44        0.40
3        0.8       0.50       0.45        0.50        0.45        0.45
4        0.7       0.45       0.50        0.45        0.50        0.40

   Questao 13  Questao 14  Questao 15  Questao 16  Questao 17  Nota Total
0        0.40        0.30         0.1        0.00        0.40        7.15
1        0.30        0.50         0.5        0.50        0.50        8.91
2        0.40        0.45         0.4        0.45        0.40        8.04
3        0.45        0.50         0.3        0.40        0.45        8.30
4        0.50        0.50         0.2        0.30        0.50        8.05

In [5]:
import pandas as pd

# Ler arquivo CSV
df = pd.read_csv('/arquivoCVSparatrabalho.csv')

# Selecionar apenas as colunas de notas das questões
notas = df.iloc[:, 1:]

# Exibir as notas de cada aluno em cada questão
print(notas)

     Questao 2  Questao 3  Questao 4  Questao 5  Questao 6  Questao 7  \
0         0.75       0.55       0.75       0.50       0.50        1.0
1         0.70       0.70       1.00       0.45       0.45        1.0
2         0.65       0.75       0.80       0.40       0.40        0.9
3         0.60       0.70       0.90       0.45       0.40        0.8
4         0.45       0.75       0.85       0.50       0.50        0.7
..         ...        ...        ...        ...        ...        ...
119       0.70       0.70       1.00       0.45       0.45        1.0
120       0.65       0.75       0.80       0.40       0.40        0.9
121       0.60       0.70       0.90       0.45       0.40        0.8
122       0.45       0.75       0.85       0.50       0.50        0.7
123       0.75       0.55       0.75       0.50       0.50        1.0

     Questao 8  Questao 9  Questao 10  Questao 11  Questao 12  Questao 13  \
0         0.50       0.50        0.50        0.25        0.15        0.40
1         0.45       0.45        0.45        0.46        0.50        0.30
2         0.40       0.40        0.40        0.44        0.40        0.40
3         0.50       0.45        0.50        0.45        0.45        0.45
4         0.45       0.50        0.45        0.50        0.40        0.50
..         ...        ...         ...         ...         ...         ...
119       0.45       0.45        0.45        0.46        0.50        0.30
120       0.40       0.40        0.40        0.44        0.40        0.40
121       0.50       0.45        0.50        0.45        0.45        0.45
122       0.45       0.50        0.45        0.50        0.40        0.50
123       0.50       0.50        0.50        0.25        0.15        0.40

     Questao 14  Questao 15  Questao 16  Questao 17
0          0.30         0.1        0.00        0.40
1          0.50         0.5        0.50        0.50
2          0.45         0.4        0.45        0.40
3          0.50         0.3        0.40        0.45
4          0.50         0.2        0.30        0.50
..          ...         ...         ...         ...
119        0.50         0.5        0.50        0.50
120        0.45         0.4        0.45        0.40
121        0.50         0.3        0.40        0.45
122        0.50         0.2        0.30        0.50
123        0.30         0.1        0.00        0.40

[124 rows x 16 columns]

In [6]:
import pandas as pd

# Ler arquivo CSV
df = pd.read_csv('/arquivoCVSparatrabalho.csv')

# Calcular a nota total de cada aluno e adicionar uma nova coluna ao DataFrame
df['Nota Total'] = df.iloc[:, 1:].sum(axis=1)

# Calcular o desvio padrão e a variância das notas de cada aluno
desvio_padrao = df['Nota Total'].std()
variancia = df['Nota Total'].var()

# Exibir as estatísticas das notas de cada aluno
print("Desvio padrão das notas: {:.2f}".format(desvio_padrao))
print("Variância das notas: {:.2f}".format(variancia))

Desvio padrão das notas: 0.48
Variância das notas: 0.23

In [7]:
import pandas as pd

# Ler arquivo CSV
df = pd.read_csv('/arquivoCVSparatrabalho.csv')

# Selecionar as colunas que correspondem às notas de cada questão
notas_questoes = df.iloc[:, 1:7]

# Exibir as notas dos alunos em cada questão
print(notas_questoes)

     Questao 2  Questao 3  Questao 4  Questao 5  Questao 6  Questao 7
0         0.75       0.55       0.75       0.50       0.50        1.0
1         0.70       0.70       1.00       0.45       0.45        1.0
2         0.65       0.75       0.80       0.40       0.40        0.9
3         0.60       0.70       0.90       0.45       0.40        0.8
4         0.45       0.75       0.85       0.50       0.50        0.7
..         ...        ...        ...        ...        ...        ...
119       0.70       0.70       1.00       0.45       0.45        1.0
120       0.65       0.75       0.80       0.40       0.40        0.9
121       0.60       0.70       0.90       0.45       0.40        0.8
122       0.45       0.75       0.85       0.50       0.50        0.7
123       0.75       0.55       0.75       0.50       0.50        1.0

[124 rows x 6 columns]